:host {
  display: contents;
}

.border-radius {
  border-radius: 0 0.42rem 0.42rem 0 !important;
}

.iterator {
  padding-top: 10px;
}

.all-day-padding-top {
  padding-top: 37px;
}

.time-padding-top {
  padding-top: 25px;
}