<div [formGroup]="group" class="form-group row" style="padding-top: 10px;padding-left: 12.5px">
    <div [className]="config.class">
        <label class="col-form-label" for="password">Contraseña</label>
        <div class="input-group" id="pass">
            <input #password
                   [class.is-invalid]="isInvalid('password')"
                   [type]="showPassword ? 'text' : 'password'" autocomplete="off"
                   class="form-control"
                   formControlName="password"
                   id="password"
                   name="password"/>
            <span *ngIf="!!group.get('password').value" class="eyesPass">
                <i (click)="togglePassword()"
                   [ngClass]="showPassword ? 'fas fa-eye': 'fas fa-eye-slash'"
                   style="cursor: pointer">
                </i>
            </span>
            <mat-password-strength #el (onStrengthChanged)="passwordStrength=$event" [accentThreshold]="100"
                                   [password]="password.value"></mat-password-strength>
            <mat-password-strength-info *ngIf="!!password.value" [passwordComponent]="el"
                                        customCharsCriteriaMsg="Deber contener al menos 8 caracteres"
                                        digitsCriteriaMsg="Debe contener al menos un dígito"
                                        lowerCaseCriteriaMsg="Debe contener al menos un caracter en minúsculas"
                                        minCharsCriteriaMsg="Debe contener al menos un caracter"
                                        specialCharsCriteriaMsg="Debe contener al menos un caracter especial"
                                        style="bottom: 25px !important;margin-top: 15px;"
                                        upperCaseCriteriaMsg="Debe contener al menos un caracter en mayúsculas">
            </mat-password-strength-info>
        </div>
    </div>
    <div [className]="config.class">
        <label class="col-form-label" for="confirmPassword">Repetir contraseña</label>
        <div class="input-group" id="confirmPass">
            <input [class.is-invalid]="isInvalid('confirmPassword')"
                   [type]="showConfirmPassword ? 'text' : 'password'"
                   autocomplete="off" class="form-control"
                   formControlName="confirmPassword"
                   id="confirmPassword"
                   name="confirmPassword"/>
            <span *ngIf="!!group.get('confirmPassword').value" class="eyesPass">
                <i (click)="toggleConfirmPassword()"
                   [ngClass]="showConfirmPassword ? 'fas fa-eye': 'fas fa-eye-slash'"
                   style="cursor: pointer">
                </i>
            </span>
        </div>
    </div>
</div>
